body{
    font-family: 'Montserrat', sans-serif;
    background-color: #00CED1;
}
.background{
    background-color: white;
    width: 50%;
    margin-left: 50%;
}
form{
    background-color: white;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    margin-top: 7%;
    padding-top: 15px;
}
input{
    background-color: white;
    border: none;
    border-bottom: 1.5px solid grey;
    outline: none;
}
.form-group i{
    position: absolute;
    margin-left: -320px;
    margin-top: 4px;
}
#login{
    height: 100px;
    margin-top: 20px;
}
